html
{
  height: auto;
  min-height: 100%;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-template-rows: auto 1fr auto;
}

footer {
  grid-row-start: -2;
  grid-row-end: -1;
  grid-column-start: 2;
  grid-column-end: -2;
  background-color: #CCCCCC;
  color: #EEEEEE;
}
