<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css">
    <title>{{ page.title | default: site.title }}</title>
  </head>
  <body>
    <header>
      <div id="logo"></div>
      <nav>
        <a href="#">Foo</a>
        <a href="#">Bar</a>
        <a href="#">Baz</a>
      </nav>
    </header>
    <section id="main">
      {{ content }}
    </section>
    <footer>
      <section>Foo</p><p>Foo</p><p>Foo</p></section>
      <section>Foo</p><p>Foo</p><p>Foo</p></section>
      <section>Foo</p><p>Foo</p><p>Foo</p></section>
    </footer>
  </body>
</html>
